.container {
	width: 1200px;
	margin: 50px 0px 50px 100px;
}

#banner-container {
  margin: 300px 0px 50px 100px;
}

.container h2 {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .container {
    width: 900px;
  }

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

